body {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
}
a {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}
.icon {
  padding: 41px 10px 41px 24px;
}
img {
  padding: 22px 130px 22px 0;
}
.icons {
  padding-left: 80px;
  display: flex;
}
#header {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
h1 {
  font-size: 48px;
  width: 500px;
  height: 192px;
}
span {
  color: red;
}
p {
  width: 520px;
  height: 58px;
  font-size: 20px;
}
button {
  width: 161px;
  height: 53px;
  background: #ee4248;
  color: white;
  border: none;
  border-radius: 4px;
}
.sectionFirst {
  width: 1240px;
  display: flex;
  padding-top: 110px;
  justify-content: space-between;
}
.img1 {
  width: 562.97px;
  height: 381.61px;
  padding: 0px;
}
.sectionThird {
  display: flex;
  width: 1280px;
  justify-content: space-around;
}
.pana1 {
  width: 452px;
  height: 472px;
  padding: 0px;
}
.sectionThird h1 {
  width: 454px;
  height: 86px;
}
.sectionThird p {
  width: 520px;
  height: 130px;
  padding-top: 40px;
}
.sectionFour {
  width: 1280px;
}
#sectionThird {
  background: #f6f6f6;
  margin-top: 162px;
}
.card img {
  width: 100px;
  height: 100px;
}
.card p {
  width: 318px;
  height: 108px;
}
.card h1 {
  height: 37px;
  width: 300px;
  margin-top: 10px;
}
.card1 {
  display: flex;
  justify-content: space-around;
}
.product {
  width: 500px;
  height: 90px;
}
.footerLogo {
  display: flex;
  flex-direction: column;
  width: 317px;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.contact h1 {
  width: 300px;
  height: 80px;
  margin-bottom: 0px;
  margin-top: 22px;
}
.footer {
  display: flex;
  width: 1280px;
  margin-top: 80px;
}
